html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td, hr {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-width: 960px;
	background: #f3f3f3;
}
#global {
	position: relative;
	top: 0;
	min-height: 100%;
}
* html #global {
	height: 100%;
}
h1 {
}
h2 {
}
h3 {
}
p {
	padding-bottom: 9px;
}
ul, ol {
	padding: 0 0 5px 25px;
}
ul ul, ol ol {
	padding: 0 0 5px 15px;
}
ul li {
	padding: 2px 0 3px 0;
}
ol li {
	padding: 2px 0 3px 0;
}
a img {
	border: 0 none;
}
:focus, a, a:active {
	outline: 0 none;
}
/* alignment */
.lft {
	text-align: left;
}
.ctr {
	text-align: center;
}
.rgt {
	text-align: right;
}
.jty {
	text-align: justify;
}
/* floating */
.flft {
	float: left;
}
.frgt {
	float: right;
}
.clft {
	clear: left;
}
.crgt {
	clear: right;
}
img.flft {
	margin-right: 6px;
}
img.frgt {
	margin-left: 6px;
}
/* header */
#dtop {
	background: #1f87bb url(../img/top-back.png) repeat-x 0 bottom;
	color: #fff;
	height: 40px;
}
#dtop a {
	color: #fff;
	text-decoration: underline;
}
#dtop a:hover {
	color: #000;
}
#dtop h1 {
	float: left;
	height: 40px;
	margin-right: 20px;
	width: 150px;
}
#dtop h1 a {
	background: url(../img/logo.png) no-repeat;
	display: block;
	height: 40px;
	text-indent: -999px;
	width: 150px;
}
#dtop #duser {
	float: right;
	line-height: 1.125em;
	padding: 4px 8px;
	text-align: right;
	width: 150px;
}
#dtop ul {
	padding: 12px 0 0 0;
	height: 28px;
}
#dtop ul li {
	float: left;
	list-style: none;
	margin-right: 8px;
	padding: 0 0 8px 10px;
	height: 20px;
}
#dtop ul li.active {
	background: url(../img/top-tab.png) no-repeat left 0;
}
#dtop ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 6px 10px 0 0;
}
#dtop ul li a:hover {
}
#dtop ul li.active a {
	color: #000;
	background: url(../img/top-tab.png) no-repeat right 0;
}
/* search form */
form#search p {
	padding: 2px 0 7px;
	line-height: 1em;
}
form#search p input {
	width: 140px;
	height: 12px;
	padding: 3px 10px 3px 20px;
	line-height: 12px;
	font-size: 11px;
	color: #333;
	border: 0 none;
	background: transparent url(../img/search.png) no-repeat left top;
}
form#search.filled p input {
	background-position: left -22px;
}
form#search p button {
	position: relative;
	top: 2px;
	width: 15px;
	height: 16px;
	padding: 0;
	margin: 0;
	line-height: 16px;
	text-indent: -9999px;
	background: transparent;
	border: 0 none;
}
form#search p button#b_submit {
	left: -170px;
}
form#search p button#b_clear {
	left: -42px;
}
/* working area */
#dwork {
	padding-top: 10px;
	padding-bottom: 50px;
}
/* layout : 1 column */
#dmain.full {
	margin: 0 1%;
}
/* layout : 2 columns */
#dmain.two, #dmain.three {
	margin-left: 135px;
}
#dleft {
	float: left;
	width: 110px;
	overflow: hidden;
	padding: 50px 10px 0 10px;
}
#dleft h4 {
	color: #333;
	font-size: 11px;
	border-bottom: 1px solid #666;
	padding-left: 4px;
	margin: 5px 0 5px;
}
#dmain.three #dlist {
	margin-right: 250px;
}
/* calendar */
.jdpicker_w .date_selector * {
	width: auto;
	height: auto;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	font-size:11px;
}
.jdpicker_w .date_selector {
	background: #FFF;
	border: 1px solid #bbb;
	padding: 3px;
	margin: -1px 0 0 0;
	position: absolute;
	z-index: 100000;
	display: none;
	width:180px
}

.jdpicker_w .date_selector table{
	width:180px;
	margin-left:3px;
}

.jdpicker_w .date_clearer{
	color: #a00;
	padding-left:3px;
	cursor:pointer;
	font-weight:bold;
	font-family:sans-serif
}

.jdpicker_w .date_selector_ieframe {
	position: absolute;
	z-index: 99999;
	display: none;
}

.jdpicker_w .error_msg{
	display:none;
	text-align:center;
	font-size:0.8em;
	color:#666
}

.jdpicker_w .date_selector .nav {
	width: 180px;
}
.jdpicker_w .date_selector .month_nav, .jdpicker_w .date_selector .year_nav {
	margin: 0 0 3px 0;
	padding: 0;
	display: block;
	position: relative;
	text-align: center;
}
.jdpicker_w .date_selector .month_nav {
	float: left;
	width: 56%;
}
.jdpicker_w .date_selector .year_nav {
	float: right;
	width: 40%;
	position:relative;
}

.jdpicker_w .date_selector .month_nav select {
	width:60px;
	margin: 0 auto;
	border:1px solid #ccc;
	position:relative;
	top:1px
}

.jdpicker_w .date_selector .year_nav .year_input {
	text-align:center;
	width:30px;
	border:1px solid #ccc;
	position:relative;
	top:2px
}  

.jdpicker_w .date_selector .month_name, .jdpicker_w .date_selector .year_name {
	font-weight: normal;
	line-height: 18px;
}
.jdpicker_w .date_selector .button {
	display: block;
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-weight: bold;
	text-align: center;
	font-size: 120%;
	overflow: hidden;
	cursor:pointer;
	color: #369;
}

.jdpicker_w .date_selector .button:hover, .jdpicker_w .date_selector .button.hover {
	background: #69c;
	color: #fff !important;
	cursor: pointer;
}

.jdpicker_w .date_selector .prev {
	left: 0;
}
.jdpicker_w .date_selector .next {
	right: 0;
}

.jdpicker_w .date_selector table {
	margin:0 auto;
	clear: both;
	border-collapse: collapse;
}
.jdpicker_w .date_selector th {
	padding-top: 5px;
	padding-bottom: 4px;
	font-weight: normal;
}

.jdpicker_w .date_selector th, .jdpicker_w .date_selector td {
	text-align: center;
	color: black;
}

.jdpicker_w .date_selector th.week_label{
	font-weight:normal;
	font-style:italic;
	font-size:80%;
	width:20px
}

.jdpicker_w .date_selector .week_num, .jdpicker_w .date_selector .hover .week_num, .jdpicker_w .date_selector .selected .week_num{
	font-style:italic;
	color:#333 !important;
	vertical-align:bottom !important;
	text-align:right;
	border:none !important;
	font-size:70%;
	background:#FCFCFC;
	padding-right:4px;
}
.jdpicker_w .date_selector td {
	border: 1px solid #ccc;
	line-height: 2em;
	text-align: center;
	white-space: nowrap;
	color: #003C78;
	background: white;
}
.jdpicker_w .date_selector td.today {
	background-color: #fc3;
}
.jdpicker_w .date_selector td.unselected_month {
	color: #ccc;
}
.jdpicker_w .date_selector td.selectable_day, .jdpicker_w .date_selector tr.selectable_week td {
	cursor: pointer;
	border:1px solid #aaa;
	color:#333
}
.jdpicker_w .date_selector td.selected, .jdpicker_w .date_selector tr.selected  td{
	background-color: #369;
	color: #fff;
}
.jdpicker_w .date_selector tr.selectable_week.hover td, .jdpicker_w .date_selector td.selectable_day.hover {
	color: #fff;
	background-color: #69c;
}
/* system message */
span#message {
	padding: 0px 5px 1px;
}
span#message.message {
	color: #069;
	font-weight: bold;
	background-color: #ff9;
}
span#message.error {
	color: #000;
	font-weight: bold;
	background-color: #f99;
}
/* footer */
#dfoot {
	background: #3298cb url(../img/bot-back.png) repeat-x 0 top;
	font-size: 11px;
	color: #fff;
	height: 16px;
	margin-top: -22px;
	padding: 3px 10px;
	position: relative;
}
#dfoot a {
	color: #fff;
}
#dfoot.exp {
	margin-top: -306px;
	height: 300px;
}
#dfoot #dcopy {
	float: right;
	font-size: 10px;
}
#dfoot #dcopy a {
	background: url(../img/bot-logo.png);
	display: block;
	float: left;
	height: 16px;
	text-indent: -9999px;
	width: 70px;
}
#dfoot #dcopy span {
	vertical-align: bottom;
	font-size: 9px;
}
hr.clear {
	clear: left;
	border: 0 none;
	height: 0;
	visibility: hidden;
}
hr.sep {
	clear: right;
	border: 0 none;
	height: 8px;
	visibility: hidden;
}
hr.separator {
	padding-bottom: 10px;
}
hr.footer {
	padding-bottom: 40px;
}